  .container {
    padding: 0 100px;
  }
  .user-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .content-wrap {
    display: flex;
    justify-content: space-between;
  }
  .ttl {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .wrap {
    width: 47%;
  }

/* 予約一覧 */

  .reservation-card {
    background: #1463ff;
    border-radius: 7px;
    padding: 30px;
    margin: 20px 20px 20px 0;
    color: #fff;
    width: 100%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
  }
  .reservation-card__ttl {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 18px;
  }
  .fa-clock {
    margin-right: 30px;
  }
  .x-btn {
    height: 30px;
    border: none;
    border-radius: 7px;
    background: #1463ff;
    color: #fff;
    cursor: pointer;
    margin-top: -10px;
  }
  th {
    text-align: left;
  }
  th, td {
    padding: 0 20px 0 5px;
    line-height: 2.5em;
    color: #fff;
  }

/* お気に入り一覧 */

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.like-card {
  width: 46%;
  margin: 10px 0;
  background: white;
  border-radius: 7px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
}
.img img {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.card-content {
  padding: 20px;
}
.like-card__ttl {
  margin-bottom: 10px;
  font-size: 24px;
}
.card__tag {
  font-size: 14px;
}
.btn-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.detail-btn {
  padding: 5px 20px;
  border: none;
  border-radius: 7px;
  background: #1463ff;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.fa-heart {
  color: pink;
  font-size: 40px;
  cursor: pointer;
}
.unlike {
  color: red;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 50px;
  }
  .user-name {
    margin-left: 50px;
  }
  .wrap {
    width: 100%;
  }
  .content-wrap {
    flex-flow: column;
  }
  .card-wrap {
    flex-flow: column;
  }
  .like-card {
    width: 100%;
  }
  .card {
    margin: 20px auto;
    width: 80%;
  }
  .ttl {
    margin-left: 50px;
    margin-top: 30px;
  }
}
