  .container {
    padding: 0 100px;
  }

  .user-name {
    font-size: 24px;
    margin-bottom: 50px;
  }

  .content-wrap {
    display: flex;
    justify-content: space-between;
  }

  .ttl {
    font-size: 20px;
  }

  .wrap {
    width: 40%;
  }

/* 予約フォーム */

  .reservation-wrap {
    width: 40%;
  }

  .card_ttl {
    display: flex;
    justify-content: space-between;
    margin: 30px;
  }
  .x_btn {
    height: 30px;
    border: none;
    border-radius: 7px;
    background: #1463ff;
    color: #fff;
    cursor: pointer;
  }
  .fa-circle-xmark {
  }
  th {
    text-align: left;
  }
  th, td {
    padding: 5px;
  }

/* お気に入りフォーム */


.card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.like-wrap {
  width: 50%;
}

.card {
  width: 46%;
  margin-bottom: 26px;
  background: white;
  border-radius: 7px;
}

.img img {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.card-content {
  padding: 20px;
}

.card-ttl {
  margin-bottom: 5px;
  font-size: 24px;
}

.card-tag {
  font-size: 14px;
}

.btn-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  padding: 5px 20px;
  border: none;
  border-radius: 7px;
  background: #1463ff;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.fa-heart {
  color: pink;
  font-size: 40px;
  cursor: pointer;
}

.unlike {
  color: red;
}