* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}
body {
  background: #E6E6FA;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}
.ttl-wrap {
  display: flex;
  align-items: center;
}
h1 {
  margin-left: 20px;
  font-size: 40px;
  color: #1463ff;
}
a {
  text-decoration: none;
  color: #1463ff;
  cursor: pointer;
}

/* menu-wrap */

.nav {
  position: fixed;
  top: -100px;
  height: 120vh;
  width: 100%;
  left: -100%;
  background: #E6E6FA;
  transition: .7s;
  text-align: center;
}
.nav ul {
  padding-top: 300px;
}
.nav ul li {
  font-size: 28px;
  font-weight: bold;
  margin-top: 30px;
}
.nav__list {
  margin-top: 30px;
}
button {
  font-size: 28px;
  font-weight: bold;
  color: #1463ff;
  background: none;
  border: none;
  cursor: pointer;
}
.menu {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 7px;
  background: #1463ff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  cursor: pointer;
  position: relative;
}
.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  height: 2px;
  border-radius: 30px;
  background-color: white;
  position: absolute;
  left: 10px;
  transition: 0.5s;
}
.menu__line--top {
  width: 15px;
  top: 16px;
}
.menu__line--middle {
  width: 26px;
  top: 24px;
}
.menu__line--bottom {
  width: 7px;
  bottom: 16px;
}
.menu.open {
  position: fixed;
  top: 50px;
  }
.menu.open span:nth-of-type(1) {
  top: 23px;
  transform: rotate(45deg);
  width: 26px;
}
.menu.open span:nth-of-type(2) {
  opacity: 0;
}
.menu.open span:nth-of-type(3) {
  top: 23px;
  transform: rotate(-45deg);
  width: 26px;
}
.in {
  transform: translateX(100%);
}
